### IntelliJ IDEA ###
.idea/
*.iml
out/
*.ipr
*.iws

### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

### Maven ###
target/
!src/main/**/target/
!src/test/**/target/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Spring Boot ###
/bin/
/tmp/
/*.pid
/*.seed
/*.key

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db
